.gallary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 0;
  max-width: 1240px;
  gap: 20px;
}

.card_container {
  display: block;
  background-color: rgb(38, 38, 38);
  padding-bottom: 5px;
  max-width: 250px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 14px 0px rgba(61, 61, 218, 0.75);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(61, 61, 218, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(61, 61, 218, 0.75);
  transform: box-shadow, scale, background-color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: rgb(146, 13, 13);
}

.card_container:is(:hover, :focus) {
  scale: 1.04;
  box-shadow: 0px 0px 20px 0px rgba(61, 61, 218, 0.75) inset;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(61, 61, 218, 0.75) inset;
  -moz-box-shadow: 0px 0px 20px 0px rgba(61, 61, 218, 0.75) inset;
  background-color: rgb(88, 88, 88);
  color: yellow;
}

.modal_img_wrap {
  width: 100%;
  height: 315px;
  border-bottom: 1px solid rgb(121, 121, 121);
  box-shadow: 5px 8px 27px -1px rgba(99, 99, 99, 0.75);
  -webkit-box-shadow: 5px 8px 27px -1px rgba(99, 99, 99, 0.75);
  -moz-box-shadow: 5px 8px 27px -1px rgba(99, 99, 99, 0.75);
}
.modal_video_img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.title_wrap {
  width: 100%;
  max-height: 70px;
  padding: 5px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.movie_title {
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  text-align: center;
  color: rgb(187, 185, 185);
}
