.movie_info_container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
  width: 100%;
}

.img_wrap {
  width: 300px;
  height: 450px;
  border-radius: 5px;
}

.movie_img {
  display: block;
  min-height: 100%;
  width: 300px;

  object-fit: cover;
  border-radius: 5px;
}

.descrip_wrap {
  display: flex;
  flex-direction: column;
}

.movie_title_wrap {
}
.score_detail {
}

.overview_wrap {
}

.genres_wrap {
}
